* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
    --color_1: #FFFFFF;
    --placeholder_color: #111729;
    --button_color: #4036A9;
}

img {
    margin-left: 70px; 
    margin-top: 20px;
    height: 50%; 
}

body {
    background-image: url(resources/background.svg);
    color: var(--color_1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin: 3% 30%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group.full-width {
  grid-column: span 2; /* makes message textarea span both columns */
}

#form input, #form select, #form textarea, #form button{
    display: flex;
    width: 100%;
    margin-bottom: 0.5px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

#form button {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: white;
    color: var(--button_color);
    font-weight: bold;
    cursor: pointer;
}


h1 { /*DO NOT CHANGE HERE*/
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    line-height: 1.2;
}


h2 { /*DO NOT CHANGE HERE*/
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    line-height: 1.2;
}

p {
    font-size: 14px;
    margin-bottom: 0.5%;
}

/* DESKTOP SCREEN */
@media (max-width: 1350px) {
  .form-grid {
    grid-template-columns: 1fr 1fr; 
  }

  .full-width {
    grid-column: span 2;
  }
}

/* TABLET SCREEN */
@media (max-width: 1024px) {
  .form-grid {
    grid-template-columns: 1fr 1fr; 
  }

  h1 {
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
    font-weight: 700;
    color: white;
    line-height: 1.2;
  }

  .full-width {
    grid-column: span 2;
  }
}

/* PHONE SCREEN */
@media (max-width: 412px) {
  .form-grid {
    grid-template-columns: 1fr; 
  }

  h1 {
    text-align: center;
    max-width: 412px;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    line-height: 1.2;
  }

  .full-width {
    grid-column: span 1;
  }
}
